<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.webServer>
    <defaultDocument>
      <files>
        <clear/>
        <add value="Index.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime maxRequestLength="1048576" targetFramework="4.6.1"/>
    <pages validateRequest="false"/>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    <sessionState timeout="15"/>
    <httpCookies httpOnlyCookies="true" requireSSL="true"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <add key="ClientID" value="282083269574-is7h2kcpeedtcne4mcek45ql9j4thbf6.apps.googleusercontent.com"/>
    <add key="ClientSecret" value="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"/>
    <add key="SiteURL" value="http://localhost:50638/index.aspx"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="Connection" connectionString="Data Source=BNUATSQLDB2019\BNUATSQLDEV2019,1439;Initial Catalog=HomeFinanceDB;User ID=HomeFinanceAPP;Password=HomeFinanceAPP" providerName="System.Data.SqlClient" />-->
    <add name="Connection" connectionString="Data Source=WIN-TEE3N1QPU51\MSSQLSERVER01;Initial Catalog=HomeFinanceDB;User ID=sa;Password=P@$$w0rd" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>